<section class="section about">
    <div class="about-background"></div>
    <div class="container about">
        <h2 class="title">about cracker</h2>
        <div class="container-plate"></div>
        <div class="about-desc-wrapper">
            <p class="about-desc-txt">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Voluptatum repellat eos
                hic,
                corrupti aliquam unde quae reprehenderit dolorem ex eius odio repudiandae mollitia distinctio nesciunt
                dolor
                iste magni magnam nihil nobis! Laborum inventore quo voluptas mollitia eum, assumenda repudiandae
                voluptatibus minus molestiae natus obcaecati accusantium. Enim ratione tempore animi iure et rerum
                necessitatibus quod iusto repellendus doloremque. Lorem ipsum dolor sit amet consectetur adipisicing
                elit.
                Totam praesentium officia sit eveniet esse iusto, dignissimos aliquam cupiditate ducimus ipsum est? Quod
                placeat, quasi illum cupiditate deleniti tenetur et dolore?</p>
        </div>
    </div>
    <div class="container cracker-constructor">
        <h2 class="title">Cracker constructor</h2>
        <p class="current-price">current value: 143€</p>
        <ul class="constructor-list">
            <li class="constructor-item">
                <img src={{soybean}} />
                <input type="range" min="0" max="100" value="0" name="soy" class="range soy">
                <p class="seed-percent soy">00%</p>
            </li>
            <li class="constructor-item">
                <img src={{sesam}} />
                <input type="range" min="0" max="100" value="0" name="sesam" class="range sesam">
                <p class="seed-percent sesam">00%</p>
            </li>
            <li class="constructor-item">
                <img src={{wheat}} />
                <input type="range" min="0" max="100" value="0" name="wheat" class="range wheat">
                <p class="seed-percent wheat">00%</p>
            </li>
            <li class="constructor-item">
                <img src={{corn}} />
                <input type="range" min="0" max="100" value="100" name="corn" class="range corn">
                <p class="seed-percent corn">100%</p>
            </li>
            <li class="constructor-item add-to-pack">
                <img src={{pack}} />
                <a href="#" class="choose-pack">Choose your pack</a>
            </li>
        </ul>
    </div>
</section>